:root {
    --main-color: #21252;
}

html, body {
    font-weight: 300;
    line-height: 1.2;
}

nav.position-fixed {
    z-index: 10;
    background-color: #f8f9facc;    /*bg-light + 투명도*/
}

main {
    min-height: 100vh;
}

.font-posts {
    font-size: 1.5rem;
}

#posts {
    height: fit-content;
}

.post-column {
    color: var(--main-color);
}
.post-column:hover {
    color: #000000;
}

.help-block.with-errors > ul > li {
    display: none;
}
.help-block.with-errors > ul > li:nth-child(1) {
    display: list-item;
}