:root {
    --main-color: #21252;
}

html, body {
    font-weight: 300;
    line-height: 1.2;
}

main {
    min-height: 100vh;
}

.font-posts {
    font-size: 1.5rem;
}

#posts {
    height: fit-content;
}

.post-column {
    color: var(--main-color);
}
.post-column:hover {
    color: #000000;
}